<ion-header>
  <ion-navbar>
    <ion-title>
      Crear Post
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" style="background-color:#DF3363;">
  <form *ngIf="isOwner" #createForm id="crearPost-form5">

    <img id="image" src="{{publi.image}}" *ngIf="publi.image != null" />
    
    <ion-item id="crearPost-input11">
      <ion-label>
        Título:
      </ion-label>
      <ion-input type="text" placeholder="Título" name="title" #title="ngModel" [(ngModel)]="publi.title"></ion-input>
    </ion-item>
    <ion-item id="crearPost-textarea3">
      <ion-label>
        Descripción:
      </ion-label>
      <ion-textarea placeholder="Text here..." name="description" #description="ngModel" [(ngModel)]="publi.description"></ion-textarea>
    </ion-item>
  </form>
  <div *ngIf="isOwner">
    <button id="crearPost-button11" ion-button color="energized" class="btnTakePicture" on-click="imageFromCamera()">
      Take a picture
    </button>
    <button id="crearPost-button11" ion-button color="energized" class="btnTakePicture" on-click="imageFromGallery()">
        Gallery
    </button>
    <button id="crearPost-button12" ion-button color="balanced" class="btnCrear" on-click="isEdit()">
      Crear
    </button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="!isOwner">
          <div class="row">
            <div class="col-md-12">
                <img id="image" src="{{publi.image}}" *ngIf="publi.image != null" />
            </div>   
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 for="defaultTitle">Título: </h2>
              <p id="defaultTitle">{{publi.title}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 for="defaultDescription">Description: </h2>
              <p id="defaultDescription">{{publi.description}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  
</ion-content>