<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1" style="background-color:#DF3363;">
  <form id="home-form4">
    <ion-searchbar placeholder="" name="" id="home-search1"></ion-searchbar>
  </form>


    <ion-item *ngFor="let publi of publications">
      <ion-col class="boxImage" size="12">
          <img src="{{publi.image}}" />
      </ion-col>
      <ion-col size="12">
          <h2>{{publi.title}}</h2>
          <p>{{publi.description}}</p>
      </ion-col>
        
    </ion-item>
    <!--
    <ion-item *ngFor="let publi of publications">
        <ion-thumbnail item-left *ngIf="publi.image != null">
            <img src="{{publi.image}}" />
        </ion-thumbnail>
        <ion-label>{{publi.title}}</ion-label>
        <p>{{publi.description}}</p>
    </ion-item>-->
</ion-content>